
.Button {
    position: absolute;
    background-color: transparent;
    border: 1px solid #5C9210;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px auto;
    font-weight: bold;
    width:50%;
    left:25%;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled{
    color:#ccc;
    cursor: not-allowed;
}
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

