
.HideButtonContainer{
    position: relative;
    width: 100%;
    margin:auto;
    text-align: center;
}

.HideButtonContainer a{
    display:inline-block;
    padding:0.2em 1.45em;
    border:0.15em solid #ffc400;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
    cursor: pointer;
    width:100%;
    margin-top:2px;
}

.HideButtonContainer a:link{
    border-color: gray;
    font-variant: inherit;
}

.HideButtonContainer a:hover{
    border-color: rgb(241, 156, 156);
    font-weight: bolder;
}

.HideButtonContainer a:active{
    border-color: rgb(230, 56, 56);
    background-color: orange ;
    transform: translateY(4px);
    transition: all 0.2s ease-out;
}

.HideButtonContainer a:visited{
    border-color: rgb(241, 156, 156);
    font-variant: inherit;
}

@media all and (max-width:30em){
    .HideButtonContainer button{
       display:block;
       margin:0.2em auto;
    }
}

.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: rosybrown;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 18%;
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-out;
}

.ModalOpen {
    animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
    animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
        transform: translateY(50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}