.Controls{
    height:92%;
    max-height:92%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items:stretch;

}